.header{
    background-image: url('../assets/img/bg.jpg');
    background-size: cover;
    background-position: 30%;
    color: white;
    height: 200px;
    line-height: 200px;
    position: relative;
    
}

.mainbody{
    background-color: whitesmoke;
    margin:0;
}

img{
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    background-color: black;
    color: white;
    height: 25px;
    line-height: 25px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.common{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    background-color: lightgray;
    padding: 10px;
    overflow: hidden;
    display: block;
}

nav {
    background-color: lightgray;
    padding: 10px;

    display: flex;
    justify-content: center;   /* centers the links */
    gap: 20px;                 /* space between links */
}

nav a {
    color: #333;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}


.hike-container {
  width: 70%;              /* size of the box */
  max-width: 800px;        /* optional limit */
  margin: 50px auto;       /* centers the box */
  background: #ffffff;     /* box background */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);

  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  width: 70%;
  max-width: 800px;
  margin: 50px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);

  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
}

ul, ol {
  list-style-position: inside;
  text-align: center;
}


.back-to-top {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 12px;     /* rounded corners */
    font-size: 14px;
    font-weight: bold;
    transition: 0.2s ease;
}

.back-to-top:hover {
    background-color: #555;
}

.tableau-container {
    width: 90%;
    max-width: 1700px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 1200px; /* ← adjust this until it looks right */
}

.tableau-container .tableauPlaceholder {
    width: 100% !important;
}

.tableau-container object {
    width: 100% !important;
    height: 1200px !important;
}
